#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.pad-full {
  padding: 2em;
}

.pad-right {
  padding-right: 1em;
}

.image-small {
  width: 30%;
  height: 20%;
}

.image-medium {
  width: 40%;
  height: 30%;
}

.bold {
  font-weight: bold;
}

.border {
  /* TODO: why didn't this work??
  border-style: solid;
  border-color: black;
  border: 1px; */
  border: solid #000;
  border-width: 1px;
  padding: 1em;
}

.align-left {
  text-align: left;
  float: left;
}

.align-right {
  text-align: right;
  float: right;
}

.btn {
  background-color: rgb(96, 167, 217);
}

.banner {
  width: 100%;
  background-color: rgba(96, 167, 217, 0.463);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
}

